body {
	margin: 10px 20px;
}

#content {
	margin-left: 40px;
}

#menu {
	vertical-align: text-top;
	margin: 0px;
}

#menu > .btn {
	width: 100%;
}

#main {
	width: 780px;
}

#main .todo i {
	cursor: pointer;
}

#main .todo td > * {
	text-align: center;
}

#main .todo td:nth-child(2) {
	min-width: 100px;
}

#main .todo td:nth-child(3) {
	min-width: 100px;
}

#main .todo td > *:not(.btn) {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
